/*
Layout
*/
*{
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}
.welcome {
  width:100%;
  height: 750px;
  margin: 0 auto;
  background-color: #ed61a9;
  padding: 18% 20px;
  position: relative;
}

.gameboard {
  width:100%;
  height: 750px;
  margin: 0 auto;
  background-color: #ed61a9;
  padding: 10px 40px;
}

.scoreboard{
  float:right;
}

.results-page {
  width:100%;
  height: 750px;
  margin: 0 auto;
  /*background-color: #ed61a9;*/
}

/*
Typography
*/
h1, .button, .scoreboard, p, footer {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  font-size: 20px;
  text-align: center;
}

.scoreboard {
  font-size: 35px;
}

.index {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  box-shadow: inset 0px 1px 0px rgba(0,0,0,.3);

}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

footer p {
  text-align: center;
  font-size: 18px;
  padding: 2px;
  line-height: 25px;
}

.results {
  font-size: 70px;
  font-family: 'Alfa Slab One', cursive;
}

.score-grade {
  font-size: 200px;
  font-family: 'Alfa Slab One', cursive;
}

.results, .score-grade {
  color: white;
}


/*
Instructions
*/
.instructions {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  margin-left: 5%;
}


/*
Buttons
*/

.button {
  background: linear-gradient(to left, rgba(255, 192, 203, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 192, 203, 0.6));
  border-radius: 10px;
  box-shadow: inset 0 0 10px #fff;
  margin: 10px 38%;
  padding: 20px;
}

.button:hover {
  background-color: rgba(255, 192, 203, 0.5);
  cursor: pointer;
}

.button:active {
  background-color: pink;
  cursor: pointer;
}

/*
Keyboard
*/

.keyboard {
  background-color: black;
  border: 2px solid white;
  width: 400px;
  height: 700px;
  position: relative;
  clear:both;
  overflow:hidden; /*hides excess hit animation box shadow */
}

.column {
  width: 99px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  display:inline-block;
  float: left;
  height: 597px;
}

.pressed {
  background: linear-gradient(rgba(255,255,255,0.2) 60%, rgba(255,255,255,0.6) 95%, rgba(255,255,255,0.2) 135%);
}

.pressed-pink {
  background: linear-gradient(rgba(255,255,255,0.2) 60%, rgba(255, 192, 225,0.6) 95%, rgba(255,255,255,0.2) 135%);
}

/*
Hitbox
*/

.hitbox {
  clear:both;
  background: linear-gradient(to right, grey, white);
  height: 20px;
  width: 100%;
  position:relative;
}

.hitbox-col {
  float: left;
  width: 99px;
  height: 20px;
  box-shadow: inset 0 0 10px #636363;
  border-radius: 1px;
}

.hit{
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
  0 0 60px 30px #fff,  /* inner */
  0 0 90px 50px #f0f, /* middle */
  0 0 120px 70px #0ff; /* outer */
}

/*
Index bar
*/

.index {
  clear:both;
  height: 80px;
  position: relative;
  background: linear-gradient(to left, rgba(254, 253, 251,1), rgba(255,255,255,1), rgba(254, 253, 251,1));
  z-index: 3;
}

.index-col {
  float: left;
  width: 99px;
  height: 80px;
  box-shadow: inset 0 0 10px #636363;
  border-radius: 1px;
}

.index-2, .index-3 {
  background: linear-gradient(to left, rgba(255, 192, 225,1), rgba(255,255,255,1), rgba(255, 192, 225,1));
}

/*
Notes
*/

.notes {
  height: 0;
  padding: 10px 0;
  width: 25%;
  position: absolute;
  z-index: 2;
  box-shadow: inset 0 0 10px #fff;
  background: linear-gradient(to left, pink, white, pink );
  border-radius: 2px;
}

/*
Feedback
*/

.feedback {
  z-index: 4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 120px;
  top: 424px;
  font-size: 80px;
}

.great {
  background: -webkit-linear-gradient(orange, orange, yellow, green, cyan, blue, violet, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.good {
  background: -webkit-linear-gradient(green, yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.missed {
  background: -webkit-linear-gradient(white, grey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
Combo
*/

.combo {
  z-index: 4;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 200px;
  top: 124px;
  font-size: 72px;
}

.combo-text {
  background: -webkit-linear-gradient(gold, white, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
Countdown
*/

.display {
  z-index: 4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 150px;
  font-size: 130px;
  background: -webkit-linear-gradient(orange, orange, yellow, green, cyan, blue, violet, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
Results
*/

.results {
  margin-bottom: 20px;
}

.results-board {
  padding-left: 50px;
  padding-top: 60px;
}

.background {
  background-position: center;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-1;
}

.background:before {
  content:"";
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:-1;
  background-color: rgba(255, 255, 255, 0.3);
}

/*
Highscores
*/
.nametag {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 24px;
}
input, button {
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid pink;
  padding: 5px 10px;
  font-size: 24px;
  color: white;
  outline: none;
}

input[type="text"] {
  width: 110px;
  color: black;
}

input[type="submit"], button {
  cursor: pointer;
  margin-bottom: 30px;
}

input[type="submit"]:hover, button:hover {
  background-color: pink;
  color: white;
}

/*
Footer
*/

footer {
  background-color: #a4a4a4;
}
